<header>
    <div>
        <img src="http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/favicon.png">
    </div>
    <div>
        <p>Teste de Desenvolvedor Front-end / Anota AI</p>
        <p>Gabriela Brancalhão</p>
    </div>
</header>
<body>
    <div>
        <input type="search" id="search" name="search">
        <input type="submit" value="Submit">
        <button (click)="listarTodosProdutos()">GET</button>
    </div>
    <div *ngFor="let produto of produtos" class="lista">
        <div class="card borda">
            <img class="closeBtn" src="http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/close.svg">
            <span>{{produto.id}}</span>
            <span>{{produto.title}}</span>
            <span>{{produto.description}}</span>
            <span>{{produto.img}}</span>
            <span>{{produto.type}}</span>
        </div>
    </div>
</body>
