<header>
    <div  class="padd">
        <img src="http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/favicon.png">
    </div>
    <div>
        <p>Teste de Desenvolvedor Front-end / Anota AI</p>
        <p class="fontSty"><i>__________ Gabriela Brancalhão __________</i></p>
    </div>
</header>
<body>
    <div class="search">
        <div>
            <input class="inp1" type="search" name="search">
        </div>
    </div>
    <div class="lista">
        <div class="sizeColuna" *ngFor="let produto of produtos">
            <div class="close">
                <button  class="closeBtn">
                    <img src="http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/close.svg">
                </button>
            </div>
            <div class="borda">
                    <div>
                        <img class="prodImg" src="{{produto.img}}">
                    </div>
                    <div class="coluna">
                        <div>
                            <span class="title">{{produto.title}}</span>
                        </div>
                        <div>
                            <p class="descricao">{{produto.description}}</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
