header {
    width: 100%;
    display: flex;
    border-bottom: solid 1px lightgrey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

body { 
    width: 100%;
}

.fontSty { 
    font-size: 14px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lista {
    display: flex;
    justify-content: space-around;
}

.borda {
    border: solid 1px lightgray;
    border-radius: 10px;
    font-size: 10px;
    margin: 5%;
    width: auto;
    height: 90%;
    padding-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.closeBtn {
    background-image: url(http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/close.svg);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    border: solid 1px lightgray;
    border-radius: 60px;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.closeBtn:active { 
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    border: solid 1px lightgrey;
    transform: rotate(45deg);
}

.imgClose { 
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
    vertical-align: middle;
    font-size: 0.8vw;
}

.title { 
    font-size: 1.2vw;
    font-weight: bolder;
}

.close { 
    position: absolute;
    right: 0px;
} 

.coluna { 
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.padd {
    margin: 10px;
} 

.prodImg { 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    width: 100%;
    height: 140px;
}

.descricao {
    text-align: justify;
    font-size: 0.7vw;
}

.sizeColuna { 
    width: 80%;
    position: relative;
}

.sizeColuna:hover {
    top:-10px;
}

.search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}


input[type=text] {
    border-radius: 5px;
    height: 40px;
    width: 60%;
    font: 0.9vw;
    padding-left: 10px;
    border: solid 1px lightgray;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
  border: 1px solid rgb(72, 72, 238);
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}
